
p {
    background-color:#ffffaa;
    margin:0px;
    border-width:1px;
    border-style:solid;
    border-color:#ff0000;
  }

  h1 {
    margin:5px;
    background-color:#eeeeee;
  }
  
  h2 {
    margin:5px;
    background-color:#eeeeee;
  }